{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'disqus' %}
      {% if site.disqus_username %}
        {% assign load_disqus = true %}
        <!-- Disqus Protection, see https://github.com/mzlogin/mzlogin.github.io/issues/2 -->
        {% if site.disqus_username == 'DoctorDeng' %}
          {% assign load_disqus = false %}
          {% if site.url contains 'doctordeng.vip' %}
            {% assign load_disqus = true %}
          {% endif %}
        {% endif %}
        {% if load_disqus %}
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ page.url }}';
              this.page.identifier = '{{ page.url }}';
              this.page.title = '{{ page.title }}';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.type = 'text/javascript';
              s.async = true;
              var shortname = '{{ site.disqus_username }}';

              s.src = '//' + shortname + '.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% endif %}
        {% if site.lazy_load_duoshuo and site.duoshuo_username %}
        <a href="#" class="show_duoshuo_comment" onclick="return false;">点击查看评论</a>
        <!-- Duoshuo Comment BEGIN -->
        <!-- 多说评论框 BEGIN -->
        <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
        <!-- 多说评论框 END -->
        <!-- 多说公共JS代码 BEGIN (一个网页只需插入一次) -->
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ site.duoshuo_username }}"};
        $(function() {
            $('.show_duoshuo_comment').on('click', function() {
                $(this).html('加载中...');
                var that = this;
                var src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                $.getScript(src, function(){$(that).remove()});
            })
        })
        </script>
        <!-- 多说公共JS代码 END -->
        <!-- Duoshuo Comment END -->
        {% endif %}
      {% endif %}
    {% when 'duoshuo' %}
      {% if site.duoshuo_username %}
      <!-- Duoshuo Comment BEGIN -->
      <!-- 多说热评文章 start -->
	  <!-- <div class="ds-top-threads" data-range="monthly" data-num-items="5"></div> -->
	  <!-- 多说热评文章 end -->
	  <!-- 多说最新评论 start -->
	  <!-- <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div> -->
      <!-- 多说最新评论 end -->
      <!-- 多说评论框 BEGIN -->
      <div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
      <!-- 多说评论框 END -->
      <!-- 多说公共JS代码 BEGIN (一个网页只需插入一次) -->
      <script type="text/javascript">
      var duoshuoQuery = {short_name:"{{ site.duoshuo_username }}"};
        (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
      <!-- 多说公共JS代码 END -->
      <!-- Duoshuo Comment END -->
      {% endif %}

    {% when 'laibili' %}
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="{{ site.laibili_uid` }}">
          <script type="text/javascript">
              (function(d, s) {
                  var j, e = d.getElementsByTagName(s)[0];

                  if (typeof LivereTower === 'function') { return; }

                  j = d.createElement(s);
                  j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                  j.async = true;

                  e.parentNode.insertBefore(j, e);
              })(document, 'script');
          </script>
          <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
  {% endcase %}
{% endif %}
